body {
    margin: auto;
    padding: 0;
}

#snippets {
    padding: 12px;
    border-radius: 4px;
    box-shadow: black;
    font-size: 26px;
    font-family: 'Menlo', 'Monaco', sans-serif;
}

.snippet {
    background-color: aquamarine;
    display: flex;
    padding: 12px;
    margin: 12px;
}

.snippet-name, .snippet-cmd {
    padding-right: 20px;
}

.snippet-name {
    font-weight: 600;
}

.snippet-copy {
    margin: 0px 0px 0px auto;
}